@charset "utf-8";
/* HTML/XHTML y CSS
   Bartolome Sintes Marco
   http://www.mclibre.org

   CSS leccion: Diseño de listas
   9 de diciembre de 2008
*/

table td {
  padding-top: 10px;
}

td.resul li {
  background-color: #F6E3CA;
  clear: none;
  float:left;
}

td.resul ul.sinestilo {
  list-style-type: disc;
}
td.resul ul.sinestilo li {
  background-color: white;
  float: none;
}

td.resul ul.ejemplo1 {
  list-style-type: none;
}
td.resul ul.ejemplo1 li {
  float: none;
}

td.resul ul.ejemplo2 {
  list-style-type: none;
}
td.resul ul.ejemplo2 li {
}

td.resul ul.ejemplo3 {
  list-style-type: none;
}
td.resul ul.ejemplo3 li {
  text-align: center;
  width: 5em;
}

td.resul ul.ejemplo4 {
  list-style-type: none;
}
td.resul ul.ejemplo4 li {
  margin-right: 10px;
  padding: 0 4px;
}

td.resul ul.ejemplo5 {
  list-style-type: none;
}
td.resul ul.ejemplo5 li {
  border: #D7C8B6 2px solid;
  margin-right: 10px;
  padding: 0 4px;
}

td.resul ul.ejemplo6 {
  list-style-type: none;
}
td.resul ul.ejemplo6 li {
  border: #D7C8B6 2px solid;
  margin-right: 10px;
}
td.resul ul.ejemplo6 a {
  color: black;
  padding: 0 4px;
  text-decoration: none;
}
td.resul ul.ejemplo6 a:hover {
  background-color: white;
  color: #D7C8B6;
}

td.resul ul.ejemplo7 {
  list-style-type: none;
  text-align: center;
}
td.resul ul.ejemplo7 li {
  border: #D7C8B6 2px solid;
  display: inline;
  float: none;
  margin-right: 10px;
}
td.resul ul.ejemplo7 a {
  color: black;
  padding: 0 4px;
  text-decoration: none;
}
td.resul ul.ejemplo7 a:hover {
  background-color: white;
  color: #D7C8B6;
}
