@charset "utf-8";
@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* CSS ejercicio: Contra Comic Sans         */
/*                                          */
/* 14 de octubre de 2016                    */
/*                                          */

body {
  background-color: #C6D9EE;
  font-family: sans-serif;
  text-align: justify;
}

h1 {
  font-size: 3rem;
  text-align: right;
}

h2 {
  font-family: monospace;
  font-size: 3rem;
  font-variant: small-caps;
}

p {
  line-height: 200%;
  text-indent: 3em;
}

strong {
  color: chocolate;
}

em {
  background-color: white;
  color: green;
}

span {
  color: red;
  font-family: "Comic Sans", cursive;
}

time {
  color: darkorange;
}

address {
  font-size: 0.8rem;
  text-align: center;
}
