/* Paginas web HTML y hojas de estilo CSS
   Bartolome Sintes Marco
   http://www.mclibre.org

   CSS ejercicio:  ejemplo
   3 de noviembre de 2014
*/

body { margin-left: 20px; text-align: justify; }

img { margin-bottom: 20px; }

h2 img { float: right; margin-left: 20px; }

p img { float: left; margin-right: 20px; }

h2 { clear: both; }
