/* Paginas web HTML y hojas de estilo CSS
   Bartolome Sintes Marco
   http://www.mclibre.org

   CSS ejercicio:  ejemplo
   3 de noviembre de 2014
*/

body {
  background-color: lightgray;
  font-family: sans-serif;
  margin: 10px 10%;
  text-align: justify;
}

h1 {
  text-align: center;
  font-size: 300%;
  letter-spacing: 10px;
}

h2 {
  clear: both;
  background-color: gray;
  color: white;
  font-size: 200%;
  padding: 0.2em 0.5em;

}

img {
  float: left;
  margin: 0 10px 10px 0;
}

p {
  margin-left: 10%;
  margin-right: 10%;
  text-indent: 2em;
}

strong {
  background-color: white;
}

em {
  color: red;
}
