@charset "utf-8";
@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* CSS ejercicio: Refranes 1                */
/*                                          */
/* 21 de octubre de 2016                    */
/*                                          */

body {
  font-family: sans-serif;
  font-size: 1.5rem;
}

h1 {
  border: solid 5px black;
  text-align: center;
  text-transform: uppercase;
}

p {
  text-align: justify;
}

p.a {
  border-left: double 20px red ;
  border-top: double 20px red ;
}

p.b {
  border-color: blue green;
  border-width: 5px 10px 20px 40px;
  border-style: dashed;
}

p.c {
  border-color: gold;
  border-width: 40px 10px;
  border-style: double;
}

p.d {
  border-color: lime black blue;
  border-width: 20px;
  border-style: solid none;
}

p.e {
  border-color: red black black;
  border-width: 40px;
  border-style: dashed solid dotted;
}

p.f {
  border-color: black black black red;
  border-width: 10px 40px 20px;
  border-style: dotted solid dashed double;
}
