@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* https://www.mclibre.org                  */
/*                                          */
/* CSS ejercicio: Currículum Vitae (largo)  */
/*                                          */
/* 3 de noviembre de 2014                   */
/*                                          */

body {
    background-color: #eeeeee;
    color: black;
    font-family: sans-serif;
    text-align: justify;
}

h1 {
    color: #333333;
    font-size: 200%;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    background-color: #888888;
    color: red;
    font-size: 150%;
    text-transform: capitalize;
}

h3 {
    background-color: #aaaaaa;
    color: DarkMagenta;
    font-size: 130%;
}

p {
    background-color: #cccccc;
    line-height: 150%;
}

address {
    background-color: white;
    font-style: normal;
    text-align: right;
}

em {
    color: blue;
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
}

strong {
    color: green;
    font-style: normal;
    font-weight: normal;
}
