@charset "utf-8";
@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* CSS ejercicio: Curriculum Vitae (largo)  */
/*                                          */
/* 3 de noviembre de 2014                   */
/*                                          */

body {
  background-color: #EEEEEE;
  color: black;
  font-family: sans-serif;
  text-align: justify;
}

h1 {
  color: #333333;
  font-size: 200%;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  background-color: #888888;
  color: red;
  font-size: 150%;
  text-transform: capitalize;
}

h3 {
  background-color: #AAAAAA;
  color: DarkMagenta;
  font-size: 130%;
}

p {
  background-color: #CCCCCC;
  line-height: 150%;
}

address {
  background-color: white;
  font-style: normal;
  text-align: right;
}

em {
  color: blue;
  font-style: normal;
  font-weight: bold;
  text-decoration: underline;
}

strong {
  color: green;
  font-style: normal;
  font-weight: normal;
}
