@charset "utf-8";
/* HTML/XHTML y CSS
   Bartolome Sintes Marco
   http://www.mclibre.org

   CSS ejemplo: margin y padding html y body
   23 de octubre de 2007
*/

html {
  margin: 10px;
  padding: 10px;
  background: url("cuadricula-transp.png") lightblue;
}

body {
  margin: 10px;
  padding: 10px;
  background: url("cuadricula-transp.png") lightyellow;
  font-family: sans-serif;
  font-weight: bold;
}

h1 {
  margin: 0;
  border: black 2px solid;
}
