@charset "utf-8";
/* HTML/XHTML y CSS
   Bartolome Sintes Marco
   http://www.mclibre.org

   CSS ejemplo: position: fixed en body y p
   30 de noviembre de 2007
*/

body {
  background: url("fondo201x201.png") no-repeat top left fixed;
  margin: 50px;
}

div {
  border: black 2px solid;
  padding: 5px;
}

p.confondo {
  background: url("fondo201x201.png") no-repeat top right fixed orange;
}
