@charset "utf-8";
@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* CSS ejercicio: Software libre 1          */
/*                                          */
/* 16 de diciembre de 2016                  */
/*                                          */

body {
  margin: 0;
  background-color: hsl(235, 20%, 90%);
  font-family: sans-serif;
  text-align: justify;
}

h1 {
  margin: 0;
  background-color: hsl(235, 20%, 25%);
  color: white;
  font-size: 4rem;
}

section#escritorio {
  position: absolute;
  top: 6rem;
  left: 10%;
  width: 35%;
  border-left: hsl(235, 20%, 25%) 2px solid;
  border-right: hsl(235, 20%, 25%) 2px solid;
}

section#internet {
  position: absolute;
  top: 6em;
  right: 10%;
  width: 35%;
  border-left: hsl(235, 20%, 25%) 2px solid;
  border-right: hsl(235, 20%, 25%) 2px solid;
}

h2 {
  margin: 0 10px;
  background-color: hsl(235, 20%, 25%);
  color: white;
  font-size: 2rem;
  text-align: center;
}

article {
  border-radius: 10px;
  margin: 20px 40px;
  padding-bottom: 5px;
  background-color: white;
}

h3 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0;
  padding-left: 5px;
  background-color: hsl(125, 60%, 40%);
  color: white;
  font-size: 1.5rem;
}

p {
  margin: 5px 5px;
}
