@charset "utf-8";
@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* CSS ejercicio: Citas de Oscar Wilde      */
/*                                          */
/*  6 de enero de 2017                      */
/*                                          */

body {
  background-color: hsl(187, 100%, 60%);
  font-family: sans-serif;
}

h1 {
  margin: 0;
  color: hsl(187, 100%, 20%);
  font-size: 4rem;
  letter-spacing: 2rem;
  text-align: center;
  text-transform: uppercase;
}

p {
  float: left;
  width: 16rem;
  height: 16rem;
  overflow: auto;
  border: hsl(187, 100%, 20%) 5px dashed;
  margin: 10px;
  padding: 10px;
  background-color: hsl(187, 100%, 40%);
  font-size: 1.5rem;
  font-style: oblique;
  /* line-height: 150%; */
  /* He tenido que quitar line-height porque en Chrome e IE se perdía el efecto de letra capital */
}

p:first-letter {
  float: left;
  color: hsl(187, 100%, 20%);
  font-size: 5rem;
  font-style: normal;
  line-height: 3rem; /* para que se vea en IE y Chrome como en FF */
}
