@charset "utf-8";
@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* CSS ejercicio: Banderas maritimas        */
/*                                          */
/* 3 de noviembre de 2015                   */
/*                                          */

@font-face {
  font-family: "Caesar Dressing";
  src: url("caesar-dressing.woff2");
}

body {
  margin-left: 20%;
  margin-right: 20%;
  background-color: Moccasin;
  font-family: sans-serif;
  font-size: 150%;
  text-align: justify;
}

h1 {
  margin: 0;
  font-family: "Caesar Dressing", fantasy;
  font-size: 250%;
  color: red;
  text-align: center;
}

h2 {
  border-top: blue 7px dashed;
  margin-top: 1em;
  margin-bottom: 0em;
  padding-top: 0.5em;
  color: red;
  font-family: "Caesar Dressing", fantasy;
  font-size: 200%;
}

q {
  background-color: white;
  font-style: italic;
}

strong {
  text-transform: capitalize;
}

svg {
  float: left;
  margin-right: 30px;
}

address {
  clear: both;
  border-top: blue 7px dashed;
  margin-top: 2em;
  margin-bottom: 0em;
  padding-top: 1em;
}
