div#indice {
  background-color: lightblue;
  height: 70%;
  left: 5%;
  position: absolute;
  top: 20%;
  width: 15%;
}

div#contenido {
  background-color: orange;
  bottom: 10%;
  left: 25%;
  overflow: hidden;
  position: absolute;
  top: 20%;
  width: 70%;
}

div div {
  height: 100%;
  width: 100%;
}
