@charset "utf-8";
@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* CSS ejercicio: Citas de Edsger Dijkstra  */
/*                                          */
/* 21 de octubre de 2016                    */
/*                                          */

body {
  background-color: hsl(154, 50%, 30%);
  font-family: sans-serif;
  font-size: 1.25rem;
}

h1 {
  color: white;
  text-align: left;
  text-shadow: black 5px 5px;
  text-transform: uppercase;
}

p {
  text-align: justify;
}

p.intro {
  border: black 10px solid;
  border-radius: 30px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 20px;
  background-color: white;
}

p.estilo-1 {
  border: hsl(17, 100%, 25%) 20px solid;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-right: 50%;
  padding: 10px;
  background-color: hsl(17, 50%, 45%);
  color: white;
}

p.estilo-2 {
  border: hsl(34, 100%, 25%) 15px solid;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-left: 50%;
  padding: 5px;
  background-color: hsl(34, 50%, 45%);
  color: white;
}

p.estilo-3 {
  border: hsl(207, 50%, 45%) 5px dashed;
  margin-left: 25%;
  margin-right: 25%;
  padding: 20px;
  background-color: hsl(207, 100%, 25%);
  color: white;
}
