@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* https://www.mclibre.org                  */
/*                                          */
/* CSS ejercicio: Citas de Edsger Dijkstra  */
/*                                          */
/* 1 de octubre de 2022                     */
/*                                          */

body {
  background-color: hwb(154 15% 55%);
  font-family: sans-serif;
  font-size: 1.25rem;
}

h1 {
  color: white;
  text-align: left;
  text-shadow: black 5px 5px;
  text-transform: uppercase;
}

p {
  text-align: justify;
}

p.intro {
  border: black 10px solid;
  border-radius: 30px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 20px;
  background-color: white;
}

p.estilo-1 {
  border: hwb(17 0% 50%) 20px solid;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-right: 50%;
  padding: 10px;
  background-color: hwb(17 20% 30%);
  color: white;
}

p.estilo-2 {
  border: hwb(34 0% 50%) 15px solid;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-left: 50%;
  padding: 5px;
  background-color: hwb(34 20% 30%);
  color: white;
}

p.estilo-3 {
  border: hwb(207 20% 30%) 5px dashed;
  margin-left: 25%;
  margin-right: 25%;
  padding: 20px;
  background-color: hwb(207 0% 50%);
  color: white;
}
