@charset "utf-8";
@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* CSS ejercicio: Gatos                     */
/*                                          */
/* 27 de noviembre de 2014                  */
/*                                          */

@font-face {
  font-family: "Poiret One";
  src: url("poiret_one.woff")
}

body {
  background-color: DarkCyan;
  border: DarkSlateGrey 20px solid;
  font-family: sans-serif;
  margin: 0;
  padding: 0 30px 20px;
  text-align: justify;
}

h1 {
  font-family: "Poiret One", cursive;
  font-size: 500%;
  text-align: center;
  text-transform: uppercase;
}

section {
  clear: both;
  border: DarkSlateGrey 10px solid;
  margin-bottom: 10px;
}

section section {
  background-color: DarkSlateGrey;
  border: LightSlateGray 20px solid;
  color: white;
  margin: 50px;
}

h2 {
  background-color: DarkSlateGrey;
  color: white;
  margin: 0;
  padding-bottom: 10px;
}

h3 {
  background-color: LightSlateGray;
  color: black;
  margin: 0;
  padding-bottom: 10px;
}

p {
  margin: 10px;
}

img {
  border: white 5px solid;
  padding: 5px;
}

img.izquierda {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

img.derecha {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}

address {
  clear: both;
  font-size: 70%;
}
