@charset "utf-8";
@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* CSS ejercicio: Citas de G. K. Chesterton */
/*                                          */
/* 18 de noviembre de 2016                  */
/*                                          */

body {
  margin: 10px 10%;
  background-color: hsl(15, 20%, 50%);
  font-family: sans-serif;
  font-size: 1.5rem;
  text-align: justify;
}

header {
  padding: 0 10px;
  background-color: hsl(15, 15%, 55%);
}

h1 {
  margin: 0;
  font-size: 4rem;
  text-align: center;
}

main {
  display: block;
  border: white 2px solid;
  padding: 10px;
}

section {
  padding-bottom: 5px;
  background-color: hsl(15, 15%, 65%);
}

section + section {
  margin-top: 40px;
}

h2 {
  margin: 0;
  padding-left: 10px;
  background-color: white;
}

section p {
  border: hsl(15, 30%, 20%) 10px solid;
  margin: 20px 10%;
  padding: 10px;
  color: white;
  line-height: 200%;
}

footer {
  border-top: black 5px solid;
  margin: 20px 0;
  padding: 0 10px;
  background-color: hsl(15, 15%, 55%);
  font-size: 1.2rem;
}
