@charset "utf-8";

/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* CSS enlace a www.mclibre.org             */
/* No forma parte del ejercicio             */
/* 23 de octubre de 2017                    */
/*                                          */

html {
  margin-bottom: 0;
  padding-bottom: 2rem;
}

p.mclibre {
  all: initial;
  clear: both;
  position: fixed;
  bottom: 0;
  height: 1.5rem;
  left: 0;
  width: 100%;
  border-top: black 2px solid;
  margin: 0;
  padding: 0.25em 0 0.25em;
  background-color: white;
  color: black;
  font-family: sans-serif;
  font-size: 0.8rem;
  text-align: center;
}

p.mclibre * {
  all: initial;
  font-family: sans-serif;
  font-size: 0.8rem;
}

p.mclibre:first-letter {
  all: initial;
  font-family: sans-serif;
}

p.mclibre a {
  color: blue;
  text-decoration: underline;
}

p.mclibre a cite {
  padding: 0;
  color: blue;
  font-style: oblique;
}

p.mclibre cite {
  padding: 0;
  color: black;
}
