@charset "utf-8";
@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* CSS ejercicio: HTML 5 + CSS 3            */
/*                                          */
/* 2 de diciembre de 2014                   */
/*                                          */

@font-face {
  font-family: "html5css3"; /* Fuente de iconos */
  src: url("html5css3.woff");
}

@font-face {
  font-family: "Black Ops One";
  src: url("black-ops-one.woff");
}

body {
  font-family: "Black Ops One";
  font-size: 300%;
  text-align: center;
}

div {
  clear: both;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: blue 3px solid;
}

i {
  font-family: "html5css3";
  font-size: 300%;
  margin-left: 30px;
  margin-right: 30px;
}

i.izquierda {
  float: left;
  margin-right: 10px;
}

i.derecha {
  float: right;
  margin-left: 10px;
}


[class^="icon-"], [class*="icon-"] {
  font-family: 'html5css3';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-happy:before {
  content: "\e600";
  color: red;
}
.icon-tux:before {
  content: "\e601";
  color: #0D3A63;
}
.icon-apple:before {
  content: "\e602";
  color: #E7E8ED;
}
.icon-android:before {
  content: "\e603";
  color: #8EC047;
}
.icon-windows8:before {
  content: "\e604";
  color: #00BCF2;
}
.icon-html5:before {
  content: "\e605";
  color: red;
}
.icon-css3:before {
  content: "\e606";
  color: red;
}
.icon-chrome:before {
  content: "\e607";
  color: #58BA47;
}
.icon-firefox:before {
  content: "\e608";
  color: #AB2A25;
}
.icon-IE:before {
  content: "\e609";
  color: blue
}
