@charset "utf-8";
@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* CSS ejercicio: Necrologicas 2014         */
/*                                          */
/* 16 de noviembre de 2016                  */
/*                                          */

@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch);
@import url(http://fonts.googleapis.com/css?family=Gabriela);

body {
  background-color: hsl(235, 10%, 80%);
  font-family: sans-serif;
  text-align: justify;
}

h1 {
  margin: 0;
  color: hsl(233, 15%, 40%);
  font-family: "Cabin Sketch";
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  margin: 0;
  padding-left: 5px;
  padding-bottom: 5px;
  color: white;
  font-family: "Gabriela";
  font-size: 2rem;
}

section {
  padding: 2px 10px;
}

section p {
  margin: 2px;
}

section.vida {
  margin: 0 10px;
}

article.futbol {
  border: hsl(20, 100%, 40%) 3px solid;
  border-radius: 0 20px 20px 20px;
  margin: 10px 50px;
  background-color: hsl(25, 100%, 70%);
}

article.futbol h2 {
  border-top-right-radius: 16px;
  background-color: hsl(25, 100%, 40%) ;
}

article.futbol section.datos {
  background-color: hsl(25, 100%, 43%);
}

article.literatura {
  border: hsl(300, 100%, 45%) 3px solid;
  border-radius: 20px 0;
  margin: 10px 50px;
  background-color: hsl(300, 100%, 90%);
}

article.literatura h2 {
  border-top-left-radius: 16px;
  background-color: hsl(300, 100%, 45%);
}

article.literatura section.datos {
  background-color: hsl(300, 100%, 75%);
}
