@charset "utf-8";
@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* CSS ejercicio: Leyes de Murphy           */
/*                                          */
/* 16 de diciembre de 2016                  */
/*                                          */

body {
  background-color:hsl(0, 0%, 80%);
  font-family: sans-serif;
}

h1 {
  margin: 0;
  font-size: 3rem;
  text-align: center;
}

p {
  padding: 10px;
  font-size: 1.5rem;
}

p#m1 {
  position: absolute;
  top: 8%;
  left: 10%;
  width: 80%;
  height: 10%;
  border: hsl(40, 40%, 35%) 2px solid;
  background-color: hsl(40, 100%, 75%);
  text-align: center;
}

p#m2 {
  position: absolute;
  top: 40%;
  left: 32%;
  width: 35%;
  height: 30%;
  z-index: 2;
  border: hsl(120, 40%, 35%) 4px solid;
  background-color: hsl(120, 100%, 75%);
  text-align: center;
}

p#m3 {
  position: absolute;
  top: 25%;
  left: 5%;
  width: 35%;
  height: 25%;
  border: hsl(60, 64%, 55%) 4px solid;
  background-color: hsl(60, 100%, 75%);
  text-align: left;
}

p#m4 {
  position: absolute;
  top: 25%;
  right: 5%;
  width: 35%;
  height: 25%;
  border: hsl(180, 25%, 70%) 4px solid;
  background-color: hsl(180, 100%, 90%);
  text-align: right;
}

p#m5 {
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 35%;
  height: 25%;
  border: hsl(300, 15%, 70%) 4px solid;
  background-color: hsl(300, 100%, 95%);
  text-align: left;
}

p#m6 {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 35%;
  height: 25%;
  border: hsl(0, 15%, 45%) 4px solid;
  background-color: hsl(0, 100%, 85%);
  text-align: right;
}

p:hover {
  z-index: 3;
}
