@charset "utf-8";
@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* CSS ejercicio: Emoticonos                */
/*                                          */
/* 9 de noviembre de 2016                   */
/*                                          */

body {
  margin: 0 20%;
  background-color: hsl(45, 95%, 95%);
  font-family: sans-serif;
  font-size: 2rem;
  text-align: justify;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

p {
  clear: both;
}

p.centrado {
  text-align: center;
}

hr {
  margin-left: 20%;
  margin-right: 20%;
  height: 5px;
  background-color: black;
}

pre {
  margin-left: 10%;
  margin-right: 10%;
  padding: 5px;
  border: black 2px solid;
  background-color: #eeeeee;
  white-space: pre-wrap;
}

q {
  font-style: oblique;
}

img {
  vertical-align: middle;
}

img.izquierda {
  float: left;
  margin-right: 10px;
}

span {
  font-size: 3rem;
}

address {
  border-top: black 3px solid;
  padding-top: 20px;
}


