@charset "utf-8";
@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS       */
/* Bartolome Sintes Marco                       */
/* http://www.mclibre.org                       */
/*                                              */
/* CSS ejercicio: Citas de Virgilio (Web Fonts) */
/*                                              */
/* 2 de noviembre de 2016                       */
/*                                              */

@font-face {
  font-family: "Ribeye Marrow";
  src: url("ribeye-marrow.woff2");
}

@font-face {
  font-family: "Just Another Hand";
  src: url("just-another-hand.woff2");
}

@font-face {
  font-family: "Lobster";
  src: url("lobster.woff2");
}

body {
  background-color: hsl(45, 55%, 55%);
}

h1 {
  font-family: "Ribeye Marrow", cursive;
  font-size: 3rem;
  letter-spacing: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

p.intro {
  margin-left: 30%;
  margin-right: 30%;
  font-family: sans-serif;
  line-height: 200%;
  text-align: justify;
}

p.latin {
  margin: 0;
  font-family: "Lobster", sans-serif;
  font-size: 2.5rem;
}

p.espanol {
  margin: 0 0 3rem;
  color: white;
  font-family: "Just Another Hand", sans-serif;
  font-size: 3.5rem;
  letter-spacing: 1px;
  text-align: right;
}

cite {
  text-decoration: underline;
}
