@charset "utf-8";
@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* CSS ejercicio: Prevision del tiempo      */
/*                                          */
/* 2 de diciembre de 2014                   */
/*                                          */

@font-face {
  font-family: "Righteous";
  src: url("font/righteous.woff");
}

body {
  background-color: #B4D2F7;
  font-family: "Righteous", sans-serif;
}

h1 {
  margin: 0;
  font-size: 400%;
  text-align: center;
}

h1 i {
  color: red;
}

div {
  float: left;
  width: 3.5em;
  border: black 5px solid;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0.5em;
  font-size: 300%;
  font-weight: bold;
  text-align: center;
}

p {
  margin: 0;
  padding: 5px 0;
}

p.dia {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #C7C7C7;
  text-transform: uppercase;
}

p.icono {
  padding: 20px 0 20px;
  background-color: white;
  font-size: 120%;
}

p.maximo {
  color: white;
}

p.maximo.bajo {
  background-color: #E56F60;
}

p.maximo.medio {
  background-color: #ED5350;
}

p.maximo.alto {
  background-color: #F40000;
}

p.minimo {
  color: white;
}

p.minimo.bajo {
  background-color: #0300C1;
}

p.minimo.medio {
  background-color: #0769BF;
}

p.minimo.alto {
  background-color: #35B4EA;
}
