@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* https://www.mclibre.org                  */
/*                                          */
/* CSS ejercicio: Diseño de listas 1        */
/*                                          */
/* 17 de diciembre de 2014                  */
/*                                          */

body {
  background: lightgray;
  font-family: sans-serif;
}

h2 {
  clear: both;
  margin-bottom: 0.5em;
  padding-top: 1em;
}

ul {
  list-style-type: none;
}

ul.lista0 {
  list-style-type: disc;
}

ul.lista1 li {
  float:left;
  width: 10em;
  border: 5px dashed #954A95;
  margin-right: 1em;
  padding: 0.5em 0em;
  background-color: #5ACE77;
  color: #5E0272;
  font-weight: bold;
  text-align: center;
}

ul.lista2 {
  text-align: center;
}

ul.lista2 li {
  display: inline;
  border: white 2px solid;
  border-color: white black black white;
  margin: 0em 0.5em;
  padding: 0.25em 0.5em;
  background-color: white;
}

ul.lista2 li:hover {
  border: white 2px solid;
  border-color: black white white black;
  background-color: lightgray;
}

ul.lista3 {
  width: 11em;
  border: black 1px solid;
  padding: 0.5em;
  text-align: center;
}

ul.lista3 li {
  width: 9em;
  border: black 1px solid;
  margin: 0.5em 0 0.5em 0.5em;
  padding: 0.5em;
  background-color: white;
  text-align: center;
}

ul.lista4 {
  text-align: center;
}

ul.lista4 li {
  display: inline-block;
  width: 10em;
  margin: 0;
  padding: 0.5em 0;
  background-color: white;
  color: #3366CC;
  font-weight: bold;
}

ul.lista4 li.par {
  background-color: #3366CC;
  color: white;
}

@font-face {
  font-family: "MiMenu";
  src: url("menu.woff");
}

[class^="icon-"], [class*="icon-"] {
  margin-right: 3px;
  font-family: "Mimenu";
  font-style: normal;
}

.icon-inicio::before {
  content: "\e900";
}
.icon-anadir::before {
  content: "\ea0a";
}
.icon-listar::before {
  content: "\e922";
}
.icon-borrar::before {
  content: "\ea0b";
}
.icon-buscar::before {
  content: "\e986";
}
.icon-modificar::before {
  content: "\e905";
}
.icon-salir::before {
  content: "\e9b6";
}

ul.lista5 li {
  float:left;
  margin-right: 2em;
}

ul.lista6 {
  text-align: center;
}

ul.lista6 li {
  display: inline;
  border: black 0.1em solid;
  border-radius: 0.3em;
  margin-right: 1em;
  padding: 0.5em 0.5em 0.3em;
  background-color: white;
  font-size: 200%;
  line-height: 250%;
}

ul.lista6 i {
  margin: 0;
}
