@charset "utf-8";
@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* CSS ejercicio: Curriculum Vitae (corto)  */
/*                                          */
/* 3 de noviembre de 2014                   */
/*                                          */

body {
  /*--colores--*/background-color: #EEEEEE;/*--/colores--*/
  /*--fuente--*/font-family: sans-serif;/*--/fuente--*/
  /*--texto--*/text-align: justify;/*--/texto--*/
}

h1 {
  /*--colores--*/color: #333333;/*--/colores--*/
  /*--fuente--*/font-size: 250%;/*--/fuente--*/
  /*--texto--*/text-align: center;/*--/texto--*/
  /*--texto--*/text-transform: uppercase;/*--/texto--*/
}

h2 {
  /*--colores--*/background-color: #888888;/*--/colores--*/
  /*--colores--*/color: #7FFF00;/*--/colores--*/
  /*--fuente--*/font-size: 200%;/*--/fuente--*/
  /*--texto--*/text-decoration: underline;/*--/texto--*/
}

h3 {
  /*--colores--*/background-color: #AAAAAA;/*--/colores--*/
  /*--colores--*/color: #DC143C;/*--/colores--*/
  /*--fuente--*/font-size: 130%;/*--/fuente--*/
}

p {
  /*--colores--*/background-color: #CCCCCC;/*--/colores--*/
  /*--texto--*/line-height: 150%;/*--/texto--*/
}

address {
  /*--colores--*/background-color: white;/*--/colores--*/
  /*--fuente--*/font-style: normal;/*--/fuente--*/
  /*--texto--*/text-align: right;/*--/texto--*/
}

em {
  /*--colores--*/color: #20B2AA;/*--/colores--*/
  /*--fuente--*/font-style: normal;/*--/fuente--*/
  /*--fuente--*/font-variant: small-caps;/*--/fuente--*/
  /*--fuente--*/font-weight: bold;/*--/fuente--*/
}

strong {
  /*--colores--*/color: #A52A2A;/*--/colores--*/
  /*--fuente--*/font-weight: normal;/*--/fuente--*/
}
