@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* https://www.mclibre.org                  */
/*                                          */
/* CSS ejercicio: Software libre 4          */
/*                                          */
/* 18 de enero de 2016                      */
/*                                          */

@media screen and (max-width: 1024px){
  h1 {
    font-size: 300%;
  }

  h2 {
    margin: 20px 0 0;
    font-size: 150%;
  }

  section {
    margin: 10px;
  }

  article {
    margin: 10px 0;
  }
}

@media screen and (min-width: 1024px){
  h1 {
    font-size: 400%;
  }

  h2 {
    margin: 0 10px;
    font-size: 200%;
  }

  section#escritorio {
    position: absolute;
    top: 6em;
    left: 10%;
    width: 35%;
    border-left: #31334D 2px solid;
    border-right: #31334D 2px solid;
  }

  section#internet {
    position: absolute;
    top: 6em;
    right: 10%;
    width: 35%;
    border-left: #31334D 2px solid;
    border-right: #31334D 2px solid;
  }

  article {
    margin: 20px 40px;
  }
}

body {
  margin: 0;
  background-color: #E0E1EB;
  font-family: sans-serif;
  text-align: justify;
}

h1 {
  margin: 0;
  background-color: #31334D;
  color: white;
}

h2 {
  background-color: #31334D;
  color: white;
  text-align: center;
}

article {
  border-radius: 10px;
  padding-bottom: 5px;
  background-color: white;
}

article h1 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 5px;
  background-color: #2CAB32;
  font-size: 150%;
}

p {
  margin: 5px 5px;
}
