@charset "utf-8";
/* HTML/XHTML y CSS
   Bartolome Sintes Marco
   http://www.mclibre.org

   CSS ejemplo: Border en html y body
   17 de octubre de 2003
*/

html {
  background-color: pink;
  border: red 10px solid;
  margin: 50px;
  padding: 50px;
}

body {
  background-color: lightblue;
  border: blue 10px solid;
  font-family: sans-serif;
  margin: 50px;
  padding: 50px;
}

h1 {
  text-align: center;
}
