@charset "utf-8";
/* HTML/XHTML y CSS
   Bartolome Sintes Marco
   http://www.mclibre.org

   CSS ejemplo: background-color en html y body
   18 de octubre de 2007
*/

html {
  background-color: lightblue;
  font-family: sans-serif;
}

body {
  background-color: lightyellow;
  font-family: serif;
}
