@charset "utf-8";
/* HTML/XHTML y CSS
   Bartolome Sintes Marco
   http://www.mclibre.org

  CSS ejemplo: background-image y margin en html
   18 de octubre de 2007
*/


html {
  background: url("cuadricula.png");
  margin: 30px;
}

body {
  border: black 2px solid;
  font-family: sans-serif;
  font-weight: bold;
  margin: 0;
}

h1 {
  margin: 0;
}
