@charset "utf-8";
/* HTML/XHTML y CSS
   Bartolome Sintes Marco
   http://www.mclibre.org

   CSS ejemplo: margin y padding html y body
   3 de diciembre de 2009
*/

html {
  background: url("../img/fondos/cuadricula_transp.gif") teal;
}

body {
  background: url("../img/fondos/cuadricula_transp.gif") white;
  font-weight: bold;
  margin: 0;
}

pre {
  margin: 0;
}
