@charset "utf-8";
/* HTML/XHTML y CSS
   Bartolome Sintes Marco
   http://www.mclibre.org

   CSS ejemplo: position: absolute
   10 de diciembre de 2009
*/

div {
  border: black 1px solid;
  font-family: monospace;
  font-weight: bold;
  font-size: 150%;
  margin: 0;
  width: 30%;
  position: absolute;
}

div.th {
  left: 10%;
  top: 10%;
  height: 80%;
}

div.tb {
  left: 60%;
  top: 10%;
  bottom: 10%;
}

