@charset "utf-8";
/* HTML/XHTML y CSS
   Bartolome Sintes Marco
   http://www.mclibre.org

   CSS ejemplo: Problemas en posicionamiento
   9 de mayo de 2007
*/

body {
  background-image: url("cuadricula.png");
  font-family: sans-serif;
}

h2, ul {
  margin: 0;
}

p {
  background-color: white;
}

div p {
  background-color: lightyellow;
  margin: 0;
  padding: 0;
}

div {
  background-color: #eeeeee;
  font-family: monospace;
  height: 100px;
  position: absolute;
  width: 200px; }

div.d1 {
  left:50px;
  margin: 0;
  padding: 0;
  top:50px;
}

div.d2 {
  left:350px;
  margin: 0;
  padding: 10px;
  top:50px;
}

div.d3 {
  left:50px;
  margin:  10px;
  padding: 0;
  top:200px;
}

div.d4 {
  left:350px;
  margin:  10px;
  padding: 10px;
  top:200px;
}

div.d5 {
  border: 10px solid #aaaaaa;
  left:50px;
  margin: 0;
  padding: 0;
  top:350px;
}

div.d6 {
  border: 10px solid #aaaaaa;
  left:350px;
  margin: 0;
  padding: 10px;
  top:350px;
}

div.d7 {
  border: 10px solid #aaaaaa;
  left:50px;
  margin:  10px;
  padding: 0;
  top:500px;
}

div.d8 {
  border: 10px solid #aaaaaa;
  left:350px;
  margin:  10px;
  padding: 10px;
  top:500px;
}
