@charset "utf-8";
@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* CSS ejercicio: Citas de Edsger Dijkstra  */
/*                                          */
/* 13 de noviembre de 2014                  */
/*                                          */

body {
  /*--colores--*/background-color: #287554;/*--/colores--*/
  /*--fuente--*/font-family: sans-serif;/*--/fuente--*/
  /*--fuente--*/font-size: 150%;/*--/fuente--*/
  /*--texto--*/text-align: justify;/*--/texto--*/
}

h1 {
  /*--colores--*/color: white;/*--/colores--*/
  /*--texto--*/text-shadow: black 5px 5px;/*--/texto--*/
  /*--texto--*/text-transform: uppercase;/*--/texto--*/
}

p.intro {
  /*--bordes--*/border: black 10px solid;/*--/bordes--*/
  /*--bordes--*/border-radius: 30px;/*--/bordes--*/
  /*--margenes--*/margin-left: 25%;/*--/margenes--*/
  /*--margenes--*/margin-right: 25%;/*--/margenes--*/
  /*--margenes--*/padding: 20px;/*--/margenes--*/
  /*--colores--*/background-color: white;/*--/colores--*/
}

p.estilo-1 {
  /*--bordes--*/border: #862600 20px solid;/*--/bordes--*/
  /*--bordes--*/border-top-left-radius: 20px;/*--/bordes--*/
  /*--bordes--*/border-bottom-left-radius: 20px;/*--/bordes--*/
  /*--margenes--*/margin-right: 50%;/*--/margenes--*/
  /*--margenes--*/padding: 10px;/*--/margenes--*/
  /*--colores--*/background-color: #AA5A3A;/*--/colores--*/
  /*--colores--*/color: white;/*--/colores--*/
}

p.estilo-2 {
  /*--bordes--*/border: #864D00 15px solid;/*--/bordes--*/
  /*--bordes--*/border-top-right-radius: 15px;/*--/bordes--*/
  /*--bordes--*/border-bottom-right-radius: 15px;/*--/bordes--*/
  /*--margenes--*/margin-left: 50%;/*--/margenes--*/
  /*--margenes--*/padding: 5px;/*--/margenes--*/
  /*--colores--*/background-color: #AA7A3A;/*--/colores--*/
  /*--colores--*/color: white;/*--/colores--*/
}

p.estilo-3 {
  /*--bordes--*/border: #6C7E8D 5px dashed;/*--/bordes--*/
  /*--margenes--*/margin-left: 25%;/*--/margenes--*/
  /*--margenes--*/margin-right: 25%;/*--/margenes--*/
  /*--margenes--*/padding: 20px;/*--/margenes--*/
  /*--colores--*/background-color: #2A506D;/*--/colores--*/
  /*--colores--*/color: white;/*--/colores--*/
}
