@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?-p8na1r');
  src:url('fonts/icomoon.eot?#iefix-p8na1r') format('embedded-opentype'),
    url('fonts/icomoon.woff?-p8na1r') format('woff'),
    url('fonts/icomoon.ttf?-p8na1r') format('truetype'),
    url('fonts/icomoon.svg?-p8na1r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-search:before {
  content: "\e986";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
