@charset "utf-8";
@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* CSS ejercicio: Software libre 3          */
/*                                          */
/* 6 de enero de 2017                       */
/*                                          */

body {
  margin: 0;
  background-color: hsl(235, 20%, 90%);
  font-family: sans-serif;
  font-size: 200%;
  text-align: justify;
}

header {
  background-color: hsl(235, 20%, 25%);
  color: white;
}

h1 {
  margin: 0;
  font-size: 200%;
}

nav {
  position: fixed;
  top: 3em;
  left: 20px;
  border-radius: 5px;
  background-color: hsl(235, 20%, 25%);
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

main {
  display: block;
  margin: 0 10%;
}

article {
  width: 80%;
  border-radius: 10px;
  margin: 20px 0 40px 3em;
  background-color: white;
}

h2 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0;
  padding-left: 5px;
  background-color: hsl(125, 60%, 40%);
  color: white;
}

p {
  margin: 5px;
}
