@charset "utf-8";
/* HTML/XHTML y CSS
   Bartolome Sintes Marco
   http://www.mclibre.org

   CSS curso: XHTML y CSS
   CSS para ejemplos en las explicaciones, basada en la hoja de estilo por omision de Firefox 3
   27 de mayo de 2017
*/

/* blocks */

div.resultado {
  padding: 4px;
  background-color: white;
  text-align: left;
  font-family: serif;
}

div.resultado p, div.resultado dl {
  margin: 1em 0;
}

div.resultado dd {
  -moz-margin-start: 40px;
}

div.resultado blockquote {
  margin: 1em 40px;
}

div.resultado address {
  font-style: italic;
}

div.resultado blockquote[type=cite] {
  display: block;
  margin: 1em 0;
  -moz-padding-start: 1em;
  -moz-border-start: solid;
  border-color: blue;
  border-width: thin;
}

div.resultado h1 {
  font-size: 2em;
  font-weight: bold;
  margin: .67em 0;
  text-align: left;
}

div.resultado h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: .83em 0;
}

div.resultado h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin: 1em 0;
}

div.resultado h4 {
  font-weight: bold;
  margin: 1.33em 0;
}

div.resultado h5 {
  font-size: 0.83em;
  font-weight: bold;
  margin: 1.67em 0;
}

div.resultado h6 {
  font-size: 0.67em;
  font-weight: bold;
  margin: 2.33em 0;
}

div.resultado pre {
  font-family: -moz-fixed;
  white-space: pre;
  margin: 1em 0;
}

/* tables */

div.resultado table {
  display: table;
/*  border-spacing: 2px; */
/*  comento esa propiedad para que el atributo cellspacing funcione en los ejemplos */
/*  border-collapse: separate; */
/*  comento esa propiedad para que el atributo rules funcione en los ejemplos */
  margin-top: 0;
  margin-bottom: 0;
  /* XXXldb do we want this if we're border-collapse:collapse ? */
  -moz-box-sizing: border-box;
  text-indent: 0;
}

div.resultado table[align="left"] {
  float: left;
}

div.resultado table[align="right"] {
  float: right;
}

/* caption inherits from table not table-outer */

div.resultado caption {
  display: table-caption;
  text-align: center;
  -moz-box-sizing: border-box;
}

div.resultado table[align="center"] > caption {
  margin-left: auto;
  margin-right: auto;
}

div.resultado table[align="center"] > caption[align="left"] {
  margin-right: 0;
}

div.resultado table[align="center"] > caption[align="right"] {
  margin-left: 0;
}

/* for XHTML tables without tbody */

div.resultado td {
/*  padding: 1px;*/
/*  comento esa propiedad para que el atributo cellpadding funcione en los ejemplos */
}

div.resultado th {
  font-weight: bold;
  padding: 1px;
}

/* inlines */

div.resultado b, div.resultado strong {
  font-weight: bolder;
}

div.resultado i, div.resultado cite, div.resultado em, div.resultado var, div.resultado dfn {
  font-style: italic;
}

div.resultado tt, div.resultado code, div.resultado kbd, div.resultado samp {
  font-family: -moz-fixed;
}

div.resultado u, div.resultado ins {
  text-decoration: underline;
}

div.resultado s, div.resultado strike, div.resultado del {
  text-decoration: line-through;
}

/* titles */
/* 13/10/15 Comentado porque me sacaba un subrayado doble */
/*
div.resultado abbr[title], acronym[title] {
  border-bottom: dotted 1px;
}
*/
/* lists */

div.resultado ul, div.resultado menu, div.resultado dir {
/*  list-style-type: disc; */
/* He comentado esta linea porque si no el ejemplo de listas anidadas
de la pagina de listas css se veian todas con disco */
/*  margin: 1em 0 ;*/
/* He comentado esta linea porque en IE 7 se veia mal la pagina de listas css */
  -moz-padding-start: 40px;
}

div.resultado ol {
  list-style-type: decimal;
/*  margin: 1em 0 ;*/
/* He comentado esta linea porque en IE 7 se veia mal la pagina de listas css */
  -moz-padding-start: 40px;
}

div.resultado li {
  display: list-item;
}

/* nested lists have no top/bottom margins */
ul ul,   ul ol,   ul dir,   ul menu,   ul dl,
ol ul,   ol ol,   ol dir,   ol menu,   ol dl,
dir ul,  dir ol,  dir dir,  dir menu,  dir dl,
menu ul, menu ol, menu dir, menu menu, menu dl,
dl ul,   dl ol,   dl dir,   dl menu,   dl dl {
  margin-top: 0;
  margin-bottom: 0;
}

/* leafs */

/* <hr> noshade and color attributes are handled completely by
 * the nsHTMLHRElement attribute mapping code
 */
/* 20/10/2009 He comentado estas dos sentencias porque si no
   en la pagina de lineas horizontales el IE hacia lo mismo que Firefox
   en el apartado de margin-left o margin-right con width

div.resultado hr {
  display: block;
  height: 2px;
  border: 1px inset;
  margin: 0.5em auto 0.5em auto;
  color: gray;
  -moz-float-edge: margin-box;
  -moz-box-sizing: border-box;
}

div.resultado hr[size="1"] {
  border-style: solid none none none;
}
*/
/* la linea original era
  div.resultado *|*:-moz-any-link img,
pero amaya daba un error de validacion, asi que lo he cambiado por
  div.resultado a img,
*/

div.resultado a img, div.resultado img[usemap], div.resultado object[usemap] {
  border: 2px solid;
}

div.resultado img[usemap], div.resultado object[usemap] {
  color: blue;
}

div.resultado iframe.conborde {
  border: 2px inset;
}
