@charset "utf-8";

/* HIGHLIGHT.JS                             */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* Hoja de estilo para highlight.js         */
/*                                          */
/* 22 de septiembre de 2017                 */
/*                                          */

/* Estilo para HTML imitando a Visual Studio Code con tema Light+ */

code.language-html { }
pre code.language-html .hljs-tag            { color: #911F00; }          /* Tags, attributes, configs */
pre code.language-html .hljs-attr           { color: #FF0000; }          /* Tags, attributes, configs */
pre code.language-html .hljs-comment        { color: #008000; }          /* Meta                      */
pre code.language-html .hljs-meta           { color: #000000; }          /* Meta                      */
pre code.language-html .hljs-name           { color: #911F00; }          /* Tags, attributes, configs */
pre code.language-html .hljs-string         { color: #0000FF; }          /* General                   */

/* Estilo para CSS imitando a Visual Studio Code con tema Light+ */

code.language-css { }
pre code.language-css.hljs                  { color: #0451A5; }          /* sin etiqueta          */
pre code.language-css .hljs-attribute       { color: #FF0000; }          /* General               */
pre code.language-css .hljs-built_in        { color: #795E26; }          /* General               */
pre code.language-css .hljs-comment         { color: #008000; }          /* Meta                  */
pre code.language-css .hljs-keyword         { color: #AF00DB; }          /* General               */
pre code.language-css .hljs-number          { color: #008000; }          /* General               */
pre code.language-css .hljs-selector-attr   { color: #FF0000; }          /* CSS: [attr] selector  */
pre code.language-css .hljs-selector-class  { color: #800000; }          /* CSS: .class selector  */
pre code.language-css .hljs-selector-id     { color: #800000; }          /* CSS: #id selector     */
pre code.language-css .hljs-selector-pseudo { color: #800000; }          /* CSS: :pseudo selector */
pre code.language-css .hljs-selector-tag    { color: #800000; }          /* CSS: tag selector     */
pre code.language-css .hljs-string          { color: #A31515; }          /* General               */

pre code.language-css .hljs-function        { color: #0000FF; }          /* General               */
