@charset "utf-8";

/* HIGHLIGHT.JS                             */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* Hoja de estilo para highlight.js         */
/*                                          */
/* 14 de junio de 2017                      */
/*                                          */

/* Estilo para HTML imitando a Brackets */

code.language-html { }

pre code.language-html .hljs-tag       { color: #446FBD; } /* any tag from "<" till ">"              */
pre code.language-html .hljs-attribute { color: #6D8600; } /* tag's attribute with or without value  */
pre code.language-html .hljs-value     { color: #E88501; } /* attribute's value                      */
pre code.language-html .hljs-comment   { color: #535353; } /* comment                                */
pre code.language-html .hljs-pi        { color: #535353; } /* processing instruction (<? ... ?>)     */
pre code.language-html .hljs-doctype   { color: #535353; } /* <!DOCTYPE ... > declaration            */
pre code.language-html .hljs-cdata     { color: #E88501; } /* CDATA section                          */

/* Estilo para CSS imitando a Brackets */

code.language-css { }

pre code.language-css .hljs-tag           { color: #446FBD; }          /* tag in selectors                   */
pre code.language-css .hljs-id            { color: #446FBD; }          /* #some_name in selectors            */
pre code.language-css .hljs-class         { color: #446FBD; }          /* .some_name in selectors            */
pre code.language-css .hljs-at_rule       { color: #8757AD; }          /* @-rule till first "{" or ";"       */
pre code.language-css .hljs-attr_selector { color: rgb( 63,127,127); } /* attribute selector ([])            */
pre code.language-css .hljs-pseudo        { color: #535353; }          /* pseudo classes/elements            */
pre code.language-css .hljs-comment       { color: #535353; }          /* comment                            */
pre code.language-css .hljs-rules         { color: #000000; }          /* everything from "{" till "}"       */
pre code.language-css .hljs-attribute     { color: #8757AD; }          /* property name inside a rule        */
pre code.language-css .hljs-value         { color: #E88501; }          /* property value inside a rule       */
pre code.language-css .hljs-number        { color: #6D8600; }          /* number within a value              */
pre code.language-css .hljs-string        { color: #E88501; }          /* string within a value              */
pre code.language-css .hljs-hexcolor      { color: #E88501; }          /* hex color (#FFFFFF) within a value */
pre code.language-css .hljs-function      { color: rgb( 42,  0,255); } /* CSS function within a value        */
pre code.language-css .hljs-important     { color: rgb( 63,127,127); } /* "!important" symbol                */
