@charset "utf-8";

/* HTML/XHTML y CSS                         */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* CSS curso: HTML/XHTML y CSS              */
/*                                          */
/* 25 de abril de 2017                      */
/*                                          */

/* CSS común */

html {
  margin: 0 10px;
  background-color: white;
  font-family: sans-serif;
  text-align: justify;
}

h1 {
  font-size: 200%;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-size: 120%;
  font-weight: bold;
}

h3 {
  font-size: 110%;
  font-weight: bold;
}

h4 {
  font-size: 105%;
  font-weight: bold;
}

section {
  position: relative;
  clear: both;
}

p {
  margin:5px 0;
}

p.aviso {
  border-left: 2px red solid;
  margin: 10px;
  padding: 10px;
  color:red;
}

.centrado {
  text-align: center;
}

.limpia {
  clear: both;
}

p.ultmod {
  clear: both;
  border-top: black 2px solid;
  margin-top: 1px;
  padding-top: 2px;
  text-align: left;
}

p.licencia {
  text-align: left;
}

p.separador {
  height: 10px;
}

/* Para que los enlaces a normas se vean arriba a la derecha */
h2.con-aside, h3.con-aside, h4-con-aside {
  float: left;
}

.enlace-norma {
  float: right;
  margin-left: 10px;
}

.enlace-norma > p {
  float: left;
  text-align: center;
  margin-left: 10px;
}

.enlace-norma a {
  text-decoration: none;
}

.enlace-norma + p {
  clear: left;
}

.fuente {
  border: black 2px solid;
  margin: 0 10px;
  padding: 3px 5px;
  background-color: white;
  color: black;
}

td pre {
  margin: 2px;
  white-space: pre-wrap;
}

kbd {
  font-weight: bold;
}

table kbd  {
  font-weight: normal;
}

hr {
  clear: both;
}

hr.corta {
  clear: both;
  width: 50%;
}

a img {
  border: none;
}

table.indice td {
  text-align: left;
  vertical-align: top;
}

th {
  text-align: center;
}

col.centrado {
  padding: 0 10px;
  text-align: center;
}

ol, ul {
  margin-top: 3px;
  margin-bottom: 6px;
}

ul ul {
  padding-left: 1em;
}

li {
  clear: both;
}

img#vpp {
  position: absolute;
  top: 5px;
  left: 5px;
  border:none;
}

.d {
  float: right;
  border: none;
  margin-left: 10px;
  margin-bottom: 5px;
}

.i {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
  border: none;
}

object.ejercicio {
  width: 90%;
  height: 400px;
  border: 2px solid black ;
}

p.enlace-ejercicio {
  margin-right: 5%;
  font-size: 80%;
  text-align: right;
}

iframe {
  border: none;
}

.regla {
  border: blue 2px solid;
  padding: 8px 3px;
}

.selector {
  border: red 2px solid;
  padding: 5px 3px;
}

.declara {
  border: green 2px solid;
  padding: 5px 3px;
}

.propied {
  border: black 2px solid;
  padding: 2px;
}

.valor {
  border: yellow 2px solid;
  padding: 2px;
}

.soft-atajo-teclado {
  font-family: monospace;
  font-size: 120%;
  font-weight: bold;
}

.soft-menu {
  background-color: #D4D0C8;
  font-family: serif;
}

.incompleto {
  color: red;
}

.captura img {
  border: black 2px dotted;
  padding: 5px;
}

.captura {
  text-align: center;
}

.codigo-resaltado {
  margin: 0 1px;
  padding: 0 1px;
  outline: red 2px solid;
}

div.codcss, div.codhtml {
  border: 2px solid black;
  margin: 5px 20px;
  padding: 10px 10px;
  background-color: white;
}

/* Los colores son los de Brackets */
.css-sele         { color: #446FBD; }
.css-prop         { color: #8757AD; }
.css-feature      { color: #8757AD; }
.css-valor        { color: #E88501; }
.css-numero       { color: #8E8600; }
.css-unidad       { color: #8E8600; }
.css-pseudo       { color: #535353; }
.css-arroba       { color: #8757AD; }
.css-funcion      { color: #4700FF; }

/* Los colores son los de Brackets */
.html-eti        { color: #446FBD; }
.html-atri       { color: #6D8600; }
.html-atri-valor { color: #E88501; }

object.conborde {
  border: black 2px solid;
}

table.conborde, table.conborde td, table.conborde th {
  border: black 1px solid;
}

table.franjas thead tr, table.franjas tbody tr:nth-child(even) {
  background-color: #eee;
  color: black;
}

table.ejemplo {
  width: 100%;
  border-spacing: 5px;
  text-align: left;
}

table.ejemplo td {
  vertical-align: top;
}

td.ffie {
  width: 20px;
}

td.codcss, td.codhtml {
  width:  50%;
  border: black 2px solid;
  padding: 0 5px;
  background-color: white;
}

td.resul {
  width:  50%;
  border: black 2px solid;
  background-color: white;
  vertical-align: top;
}

td.solores {
  width: 100%;
  background-color: white;
  border: black 2px solid;
}

td.arriba {
  vertical-align: top;
}

table.listado {
  border-collapse: collapse;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*table.listado td { border: none; border-bottom: black 1px solid; text-align: left;}*/

table.listado tr {
  border-bottom: black 1px solid;
}

table.listado tr.titulo {
  border: none;
}

table.listado tr.titulo td {
  padding-top: 20px;
  font-weight: bolder;
}

table.listado tr.cabecera td {
  border: none;
  font-weight: bolder;
}

table.centrado {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

math {
  font-family: sans-serif;
  font-size: 105%;
}

div.diario {
  margin: 20px 50px 3px;
  padding-left: 20px;
}

div.diario p.fecha {
  margin-top: 0;
  margin-left: -20px;
  padding: 5px;
  font-weight: bolder;
}

div.gr1 {
  border: #C9C9FF 3px solid;
  background-color: #E7E7FF;
}

div.gr1 p.fecha {
  background-color: #C9C9FF;
  color: #FFFFFF;
}

div.gr2 {
  border: #B0E293 3px solid;
  background-color: #CEFFCE;
}

div.gr2 p.fecha {
  background-color: #B0E293;
  color: #FFFFFF;
}

div.gr3 {
  border: #FF8B8B 3px solid;
  background-color: #FFD8D8;
}

div.gr3 p.fecha {
  background-color: #FF8B8B;
  color: #FFFFFF;
}

div.obsoleto {
  border-left: red 5px solid;
  padding-left: 20px;
}

div.salto {
  page-break-before: always;
}

div.salto div {
  page-break-before: avoid;
}

/* Elementos HTML 5 y div equivalentes para XHTML 1.0 */

section, div.section {
  border-top: solid 2px black;
  margin-top: 1em;
  padding-top: 0;
}

section section, div.section div.section {
  border-top: solid 1px black;
}

footer, div.footer {
  margin-top: 2em;
}

/* Menu  */

/* Pantallas pequeñas */

@media screen and (max-width: 768px) {
  html {
    margin-left: 2em;
    margin-right: 2em;
  }

  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 6em;
    padding-left: 0.2em;
    font-size: 80%;
    text-align: left;
  }

  nav h2, div.nav h2 {
    display: none;
  }

  nav p, div.nav p {
    margin: 5px 0 0;
    font-size: 350%;
  }

  nav a, div.nav a {
    color: black;
    text-decoration: none;
  }

  nav i, div.nav i {
    display: none;
  }

  nav i.icon-html5, div.nav i.icon-html5 {
    display: block;
  }

  nav div.toc, div.nav div.toc {
    display: none;
  }

  table.ejemplo td, table.indice td {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }

  pre {
    text-align: left;
    white-space: pre-wrap;
  }
}

/* Pantallas grandes */
@media screen and (min-width: 768px) {
  html {
    margin-left: 12em;
    margin-right: 4em;
  }

  nav, div.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 14.5em;
    padding-left: 0.2em;
    font-size: 80%;
    text-align: left;
  }

  nav h2, div.nav h2 {
    margin: 0;
    padding: 0;
    font-size: 110%;
    text-align: left;
  }

  nav p, div.nav p {
    margin: 5px 0 0;
    font-size: 350%;
  }

  nav a , div.nav a {
    color: black;
    text-decoration: none;
  }

  nav i.actual, div.nav i.actual {
    color: green;
  }

  nav ul, div.nav ul {
    margin-top: 0;
    padding-left: 1em;
  }

  nav ul li, div.nav ul li {
    margin: 0 0 0.1em;
  }

  nav ul ul, div.nav ul ul {
    margin: 0;
    padding-left: 0.5em;
  }

  nav ul ul li, div.nav ul ul li {
    margin: 0;
  }
}

@media print {
  html {
    margin-left: 5px;
    margin-right: 0;
    margin-top: 0;
  }

  div#menu {
    display: none;
  }

  nav {
    display: none
  }

  code {
    font-size: 100% !important;
  }

  pre {
    white-space: pre-wrap !important;
  }

  p.volver-principio {
    display: none;
  }

  tr {
    page-break-inside: avoid;
  }
}
