@charset "utf-8";

/* HTML/XHTML y CSS                         */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* CSS curso: HTML/XHTML y CSS              */
/*                                          */
/* Hoja de estilo para paginas en HTML 4    */
/*                                          */
/* 31 de mayo de 2017                       */
/*                                          */

/* CSS comun */

div.section {
  clear: both;
  border-top: solid 2px black;
  margin-top: 1em;
  padding-top: 0;
}

div.section div.section {
  border-top: solid 1px black;
}

div.footer {
  margin-top: 2em;
}

/* Pantallas pequeñas */

@media screen and (max-width: 768px) {
  div.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    padding-left: 0.2em;
    font-size: 80%;
    text-align: left;
  }

  div.nav p {
    margin: 5px 0 0;
    font-size: 350%;
  }

  div.nav a {
    color: black;
    text-decoration: none;
  }

  div.nav div.toc {
    display: none;
  }
}

/* Pantallas grandes */
@media screen and (min-width: 768px) {
  div.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 14.5em;
    padding-left: 0.2em;
    font-size: 80%;
    text-align: left;
  }

  div.nav h2 {
    margin: 0;
    padding: 0;
    font-size: 110%;
    text-align: left;
  }

  div.nav h3 {
    margin: 10px 0 0;
    padding: 0;
    font-size: 105%;
    text-align: left;
  }

  div.nav p {
    margin: 5px 0 0;
    font-size: 350%;
  }

  div.nav a {
    color: black;
    text-decoration: none;
  }

  div.nav ul {
    margin-top: 0;
    padding-left: 1em;
  }

  div.nav ol {
    margin-top: 0;
    padding-left: 2em;
  }

  div.nav ul li, div.nav ol li {
    margin: 0 0 0.1em 0.1em;
  }

  div.nav ul ul {
    margin: 0;
    padding-left: 0.5em;
  }

  div.nav ul ol {
    margin: 0;
    padding-left: 1em;
  }

  div.nav ul ul li, div.nav ol ol li   {
    margin: 0;
  }
}

