@charset "utf-8";

/* HTML/XHTML y CSS                         */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* CSS curso: HTML/XHTML y CSS              */
/*                                          */
/* 30 de mayo de 2017                       */
/*                                          */

/* CSS común */

@font-face {
  font-family: "Inconsolata";
  src: url("fonts/inconsolata.woff");
}

html {
  background-color: white;
  font-family: sans-serif;
  text-align: justify;
}

section, div.section {
  clear: both;
  border-top: solid 2px black;
  margin-top: 1em;
  padding-top: 0;
}

section section, div.section div.section {
  border-top: solid 1px black;
}

footer, div.footer {
  margin-top: 2em;
}

h1 {
  font-size: 200%;
  text-align: center;
}

h2 {
  font-size: 120%;
}

h3 {
  font-size: 110%;
}

h4 {
  font-size: 105%;
  font-weight: bold;
}

h2, h3, h4 {
  clear: both;
}

pre, pre code {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Inconsolata", monospace;  /* Chrome user agent style sheet */
}

hr {
  clear: both;
}

hr.corta {
  clear: both;
  width: 50%;
}

p {
  margin:5px 0;
}

p.aviso {
  border-left: 2px red solid;
  margin: 10px;
  padding: 10px;
  color:red;
}

p.ultmod {
  clear: both;
  border-top: black 2px solid;
  margin-top: 1px;
  padding-top: 2px;
  text-align: left;
}

p.licencia {
  text-align: left;
}

p.separador {
  height: 10px;
}

.centrado {
  text-align: center;
}

a img {
  border: none;
}

img.derecha {
  float: right;
  margin-left: 10px;
  margin-bottom: 5px;
}

img.izquierda {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

.soft-atajo-teclado {
  font-family: monospace;
  font-size: 120%;
  font-weight: bold;
}

.soft-menu {
  background-color: #D4D0C8;
  font-family: serif;
}

.incompleto {
  color: red;
}

.captura {
  text-align: center;
}

.captura img, .captura svg {
  border: black 2px dotted;
  padding: 5px;
  vertical-align: middle;
}

.codigo-resaltado {
  margin: 0 1px;
  padding: 0 1px;
  outline: red 2px solid;
}

iframe {
  border: none;
}

math {
  font-family: sans-serif;
  font-size: 105%;
}

kbd {
  font-family: monospace;
  font-size: 120%;
  font-weight: bold;
}

table kbd  {
  font-weight: normal;
}

div.filaflex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  clear: both;
  margin: 5px 0px;
}

div.filaflex.cabecera {
  margin-bottom: -5px;
  padding-bottom: 0;
}

div.filaflex.nogrow div:not([class="icono"]) {
  width: auto;
  flex-grow: 0;
}

div.filaflex.nogrow h2, div.filaflex.nogrow h3 {
  margin: 0;
}

div.filaflex div:not([class="icono"]) {
  width: 100px;
  flex-grow: 1;
}

div.filaflex div.nogrow {
  width: auto;
  flex-grow: 0;
}

div.filaflex div.columnaflex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

div.filaflex div.columnaflex div {
  width: auto;
}

div.filaflex div.icono-navegadores {
  flex-grow: 0;
  width: 50px;
}

div.filaflex div.icono-navegadores-vacio {
  flex-grow: 0;
  width: 50px;
}

div.filaflex div.icono-ok {
  flex-grow: 0;
  width: 40px;
}

div.filaflex div.icono-xhtml-ok {
  flex-grow: 0;
  width: 120px;
}

div.filaflex div.icono-enlace {
  flex-grow: 0;
  width: 40px;
}

div.filaflex pre {
  margin: 5px 0;
  white-space: pre-wrap;
}

div.codigo, div.resultado {
  clear: both;
  border: 2px black solid;
  margin: 5px 10px;
  padding: 0;
  background-color: white;
  color: black;
  font-size: 100%;
  line-height: 110%;
}

div.codigo {
  padding: 0 5px;
}

div.obsoleto {
  border-left: red 5px solid;
  padding-left: 20px;
}

div.salto {
  page-break-before: always;
}

div.salto div {
  page-break-before: avoid;
}

object.conborde {
  border: black 2px solid;
}

table.conborde, table.conborde td, table.conborde th {
  border: black 1px solid;
}

table.listado {
  border-collapse: collapse;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

table.listado tr {
  border-bottom: black 1px solid;
}

table.listado tr.titulo {
  border: none;
}

table.listado tr.titulo td {
  padding-top: 20px;
  font-weight: bolder;
}

table.listado tr.cabecera td {
  border: none;
  font-weight: bolder;
}

table.franjas thead tr, table.franjas tbody tr:nth-child(even) {
  background-color: #eee;
  color: black;
}

table.centrado {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

th {
  text-align: center;
}

ol, ul {
  margin-top: 3px;
  margin-bottom: 6px;
  padding-left: 1.5em;
}

ul ul {
  padding-left: 1em;
}

li {
  clear: both;
}

/* Enlaces a normas */

h2.con-aside, h3.con-aside, h4-con-aside {
  float: left;
}

.enlace-norma {
  float: right;
  margin-left: 10px;
}

.enlace-norma > p {
  float: left;
  text-align: center;
  margin-left: 10px;
}

.enlace-norma a {
  text-decoration: none;
}

.enlace-norma + p {
  clear: left;
}

/* Pantallas pequeñas */

@media screen and (max-width: 768px) {
  html {
    margin-left: 40px;
    margin-right: 5px;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    padding-left: 0.2em;
    font-size: 80%;
    text-align: left;
  }

  nav.portada {
    position: static;
    margin-left: auto;
    margin-right: auto;
  }

  nav p, div.nav p {
    margin: 5px 0 0;
    font-size: 350%;
  }

  nav a, div.nav a {
    color: black;
    text-decoration: none;
  }

  nav div.toc, div.nav div.toc {
    display: none;
  }

  pre {
    text-align: left;
    white-space: pre-wrap;
  }

  div.filaflex {
    display: block;
    margin-bottom: 15px;
  }

  div.filaflex.cabecera {
    display: none;
  }

  div.filaflex div:not([class="icono"]) {
    width: auto;
  }

  div.filaflex div.icono-navegadores-vacio {
    display: none;
  }
}

/* Pantallas grandes */
@media screen and (min-width: 768px) {
  html {
    margin-left: 12em;
    margin-right: 2em;
  }

  nav, div.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 14.5em;
    padding-left: 0.2em;
    font-size: 80%;
    text-align: left;
  }

  nav h2, div.nav h2 {
    margin: 0;
    padding: 0;
    font-size: 110%;
    text-align: left;
  }

  nav h3, div.nav h3 {
    margin: 10px 0 0;
    padding: 0;
    font-size: 105%;
    text-align: left;
  }

  nav p, div.nav p {
    margin: 5px 0 0;
    font-size: 350%;
  }

  nav a , div.nav a {
    color: black;
    text-decoration: none;
  }

  nav ul, div.nav ul {
    margin-top: 0;
    padding-left: 1em;
  }

  nav ol, div.nav ol {
    margin-top: 0;
    padding-left: 2em;
  }

  nav ul li, nav ol li, div.nav ul li, div.nav ol li {
    margin: 0 0 0.1em 0.1em;
  }

  nav ul ul, div.nav ul ul {
    margin: 0;
    padding-left: 0.5em;
  }

  nav ul ol, div.nav ul ol {
    margin: 0;
    padding-left: 1em;
  }

  nav ul ul li, nav ol ol li, div.nav ul ul li, div.nav ol ol li   {
    margin: 0;
  }
}

/* Impresora */
@media print {
  html {
    margin-left: 5px;
    margin-right: 0;
    margin-top: 0;
  }

  nav {
    display: none
  }

  code {
    font-size: 100% !important;
  }

  pre {
    white-space: pre-wrap !important;
  }

  tr {
    page-break-inside: avoid;
  }
}

/* CSS específico apuntes HTML/CSS */

/* Clases para fragmentos de código en texto */

/* Estilo para HTML imitando a Brackets */
.html-eti        { color: #446FBD; }
.html-atri       { color: #6D8600; }
.html-atri-valor { color: #E88501; }

/* Estilo para CSS imitando a Brackets */
.css-sele         { color: #446FBD; }
.css-prop         { color: #8757AD; }
.css-feature      { color: #8757AD; }
.css-valor        { color: #E88501; }
.css-numero       { color: #8E8600; }
.css-unidad       { color: #8E8600; }
.css-pseudo       { color: #535353; }
.css-arroba       { color: #8757AD; }
.css-funcion      { color: #4700FF; }

