@charset "utf-8";
/* HTML/XHTML y CSS
   Bartolome Sintes Marco
   http://www.mclibre.org

   CSS curso: HTML/XHTML y CSS
   28 de septiembre de 2016

CSS PARA IMPRIMIR HOJAS A LOS ALUMNOS
HECHA A PARTIR DE CSS 2016-09-20 AÑADIENDO COSAS AL FINAL Y MODIFICANDO OTRAS

*/

html { font-family: sans-serif; background-color: white;
  text-align: justify; margin: 0 10px; }

h1 { font-size: 200%; text-align: center; font-weight: bold;}
h1#indice { margin-left: 150px; }
h2 { font-size: 120%; margin-left: -10px; font-weight: bold;}
h3 { font-size: 110%; margin-left: -10px; font-weight: bold;}
h4 { font-size: 105%; margin-left: -10px; font-weight: bold;}

section { position: relative; clear: both; }
p { margin:5px 0; }
p.aviso { margin:10px; padding: 10px;
  border-left: 2px red solid; color:red; }
.centrado { text-align: center; }
.limpia { clear: both; }
p.ultmod { clear: both; text-align: left; border-top: black 2px solid; margin-top: 1px; padding-top: 2px;}
p.licencia { text-align: left; }
p.enlace-norma { position: absolute; top: 0; right: 0; }
p.enlace-norma i { font-size: 2em; }
p.enlace-norma img { height: 2em; }
p.enlace-norma a { text-decoration: none; }
p.separador { height: 10px; }

.fuente { background-color: white; color: black; padding: 3px 5px;
  border: black 2px solid; margin: 0 10px; }
.fuente-num { color: blue; }
td pre { margin: 2px; white-space: pre-wrap; }

kbd { font-weight: bold; }
table kbd  { font-weight: normal; }

hr { clear: both; }
hr.corta { width: 50%; clear: both; }

a img { border: none; }

table.indice td { vertical-align: top; text-align: left; }
th { text-align: center; }
col.centrado { padding: 0 10px; text-align: center;  }
ol, ul { margin-top: 3px; margin-bottom: 6px;}
ul ul { padding-left: 1em; }
li { clear: both; }
img#vpp { position: absolute; top: 5px; left: 5px; border:none; }
.d { float: right; margin-left: 10px; margin-bottom: 5px; border: none; }
.i { float: left; margin-right: 10px; margin-bottom: 5px; border: none; }
object.ejercicio { width: 90%; height: 400px; border: 2px solid black ;}
p.enlace-ejercicio { margin-right: 5%; text-align: right; font-size: 80%;}
iframe { border: none; }

.regla { border: blue 2px solid; padding: 8px 3px;}
.selector { border: red 2px solid; padding: 5px 3px; }
.declara { border: green 2px solid; padding: 5px 3px; }
.propied { border: black 2px solid; padding: 2px; }
.valor { border: yellow 2px solid; padding: 2px; }
.barresta { background-color: #D4D0C8; font-family: serif;} /* barra de estado */
.amaya-bug { border-left: red 4px double; border-right: red 4px double;
  margin: 0 10px; padding: 0 10px;}

.soft-menu { font-family: serif; background-color: #D4D0C8; }
.soft-atajo-teclado { font-family: monospace; font-weight: bold; font-size: 120%; }

.incompleto { color: red; background-color: #FFEEFF; }
.captura img { border: black 2px dotted; padding: 5px;}
.captura { text-align: center; }

.codigo-resaltado { outline: red 2px solid; padding: 0 1px; margin: 0 1px; }

div.codcss, div.codhtml { border: 2px solid black; background-color: white;
  margin: 5px 20px; padding: 10px 10px; }

/* Los colores son los de Brackets */
.css-sele         { color: #446FBD; font-weight: bold; }
.css-prop         { color: #8757AD; font-weight: bold; }
.css-valor        { }
.css-numero       { color: #8E8600; font-weight: bold; }
.css-unidad       { color: #8E8600; font-weight: bold; }
.css-pseudo       { color: #535353; font-weight: bold; }
.css-arroba       { color: #8757AD; font-weight: bold; }
.css-funcion      { color: #4700FF; font-weight: bold; }

/* Los colores son los de Brackets */
.html-eti        { color: #446FBD; font-weight: bold; }
.html-atri       { color: #6D8600; font-weight: bold; }
.html-atri-valor { color: #E88501; font-weight: bold; }

table.conborde, table.conborde td, table.conborde th { border: black 1px solid; }

table.ejemplo { width: 100%; text-align: left; border-spacing: 5px;}
table.ejemplo td { vertical-align: top; }
td.ffie { width: 20px; }
td.codcss, td.codhtml {  width:  50%; background-color: white; border: black 2px solid;
  padding: 0 5px;}
td.resul {   width:  50%; background-color: white; border: black 2px solid; vertical-align: top; }
td.solores { width: 100%; background-color: white; border: black 2px solid;}
td.arriba { vertical-align: top; }
table.listado { border-collapse: collapse; text-align: left; }
/*table.listado td { border: none; border-bottom: black 1px solid; text-align: left;}*/
table.listado tr { border-bottom: black 1px solid; }
table.listado tr.titulo { border: none; }
table.listado tr.titulo td { font-weight: bolder; border-top: white 20px solid; }
table.listado tr.cabecera td { border: none; font-weight: bolder;}

table.centrado { margin-left: auto; margin-right: auto; text-align: left;}

math { font-family: sans-serif; font-size: 105%;  }

div.diario { margin: 20px 50px 3px; padding-left: 20px; }
div.diario p.fecha { font-weight: bolder; margin-top: 0; margin-left: -20px; padding: 5px }
div.gr1 { border: #C9C9FF 3px solid; background-color: #E7E7FF; }
div.gr1 p.fecha { background-color: #C9C9FF; color: #FFFFFF; }
div.gr2 { border: #B0E293 3px solid; background-color: #CEFFCE; }
div.gr2 p.fecha { background-color: #B0E293; color: #FFFFFF; }

div.bug-amaya-pendi { border-left: red    3px solid; margin: 10px; padding-left: 20px; }
div.bug-amaya-cvs   { border-left: yellow 3px solid; margin: 10px; padding-left: 20px; }
div.bug-amaya-corre { border-left: green  3px solid; margin: 10px; padding-left: 20px; }
div.bug-amaya-nobug { border-left: black  3px solid; margin: 10px; padding-left: 20px; }

div.obsoleto { border-left: red 5px solid; padding-left: 20px; }

div.salto { page-break-before: always; }
div.salto div { page-break-before: avoid; }

/* Elementos HTML 5 y div equivalentes para XHTML 1.0 */
section, div.section { padding-top: 0; margin-top: 0;}
section section, div.section div.section { }

footer, div.footer { margin-top: 2em; }

@media print {
  html { margin-left: 5px; margin-right: 0; margin-top: 0; }
  div#menu { display: none; }
  nav { display: none }
  code { font-size: 100% !important; }
  pre { white-space: pre-wrap !important; }
  p.volver-principio { display: none; }
  tr { page-break-inside:avoid; }
}

/* AÑADIDO PARA IMPRIMIR HOJAS PARA LOS ALUMNOS */

nav { display: none; }

a { text-decoration: none; color: black;}

.noprint { display: none; }
