/* PRISM.CSS                                */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* Hoja de estilo para prism.js             */
/*                                          */
/* 23 de septiembre de 2019                 */
/*                                          */

/* AVISO: Cuando las clases están divididas en dos grupos
  es porque el primer bloque está comprobado,
  pero el segundo no (suelen ser clases de highlight.js que
  no sé si son tablén clases de prism).
*/

div.codigo { background-color: white; color: black; }

div.codigo.idle { background-color: white; color: black; }

div.codigo-nocolor { background-color: white; color:black; }

div.codigo-nocolor pre code.language-html *[class] { color: black; }

.line-numbers-rows > span:before { color: black; }

.command-line-prompt {border-right: 1px solid #999; }

.command-line-prompt > span:before { color: white; }

/* Estilo para HTML imitando a Visual Studio Code con tema Dark+ */

pre code.language-html .attr-name      { color: #9cdcfe; }          /* attribute name            */
pre code.language-html .attr-value     { color: #ce9178; }          /* attribute value           */
pre code.language-html .comment        { color: #6a9955; }          /* comment                   */
pre code.language-html .doctype        { color: #569cd6; }          /* doctype                   */
pre code.language-html .entity         { color: #569cd6; }          /* entity                    */
pre code.language-html .punctuation    { color: #808080; }          /* punctuation               */
pre code.language-html .tag            { color: #569cd6; }          /* Tags, attributes, configs */

pre code.language-html .cdata          { }                            /* cdata                     */
pre code.language-html .namespace      { }                            /* namespace                 */
pre code.language-html .prolog         { }                            /* prolog                    */

/* Estilo para código fuente HTML imitando a Firefox */

div.resultado-codigo pre code.language-html .attr-name      { color: #000000; font-weight: bold; }  /* attribute name            */
div.resultado-codigo pre code.language-html .attr-value     { color: #0000ff; }  /* attribute value           */
div.resultado-codigo pre code.language-html .comment        { color: #008000; }  /* comment                   */
div.resultado-codigo pre code.language-html .doctype        { color: #4682b4; }  /* doctype                   */
div.resultado-codigo pre code.language-html .entity         { color: #ff4500; }  /* entity                    */
div.resultado-codigo pre code.language-html .punctuation    { color: #000000; }  /* punctuation               */
div.resultado-codigo pre code.language-html .tag            { color: #800080; font-weight: bold; }  /* Tags, attributes, configs */

/* Estilo para CSS imitando a Visual Studio Code con tema Light+ */

pre code.language-css .atrule         { color: #0451a5; }          /* at-rule lo que no es @rule         */
pre code.language-css .attribute      { color: #ff0000; }          /* atributo                           */
pre code.language-css .color          { color: #0451a5; }          /* color                              */
pre code.language-css .comment        { color: #008000; }          /* comment                            */
pre code.language-css .function       { color: #795e26; }          /* CSS function within a value        */
pre code.language-css .important      { color: #0000ff; }          /* "!important" symbol                */
pre code.language-css .number         { color: #09885a; }          /* number                             */
pre code.language-css .property       { color: #ff0000; }          /* property name inside a rule        */
pre code.language-css .pseudo-element { color: #800000; }          /* pseudo-element, pseudo-class       */
pre code.language-css .punctuation    { color: #000000; }          /* punctuation                        */
pre code.language-css .rule           { color: #af00db; }          /* @-rule till first "{" or ";"       */
pre code.language-css .selector       { color: #800000; }          /* tag in selectors                   */
pre code.language-css .string         { color: #ce9178; }          /* NO SE DETECTA                      */
pre code.language-css .unit           { color: #09885a; }          /* unit                               */
pre code.language-css .variable       { color: #ff0000; }          /* variable                           */

/* Estilo para Python imitando a Visual Studio Code con tema Dark+ */

code.language-python .boolean              { color: white;   } /* boolean                             */
code.language-python .builtin              { color: #dcdcac; } /* built-in functions                  */
code.language-python .class-name           { color: white    } /* class header class SomeName(...):   */
code.language-python .comment              { color: #6a9955; } /* comment                             */
code.language-python .decorator            { color: white;   } /* decorator                           */
code.language-python .function             { color: #4ccab2; } /* function header def some_name(...): */
code.language-python .keyword              { color: #c586c0; } /* keyword                             */
code.language-python .number               { color: #b5cea8; } /* number                              */
code.language-python .operator             { color: #d4d4d4; } /* operators                           */
code.language-python .punctuation          { color: white;   } /* punctuation                         */
code.language-python .string               { color: #ce9178; } /* string (of any type)                */
code.language-python .string-interpolation { color: white;   } /* string-interpolation                */
code.language-python .triple-quoted-string { color: #ce9178; } /* string (of any type)                */

/* Estilo para Python imitando a IDLE */

div.idle code.language-python .boolean     { color: black;   } /* boolean                             */
code.language-python .builtin              { color: #800080; } /* built-in functions                  */
code.language-python .class-name           { color: black;   } /* class header class SomeName(...):   */
code.language-python .comment              { color: #FF0000; } /* comment                             */
code.language-python .decorator            { color: black;   } /* decorator                           */
code.language-python .function             { color: #0000FF; } /* function header def some_name(...): */
code.language-python .keyword              { color: #FF7700; } /* keyword                             */
code.language-python .number               { color: black;   } /* number                              */
code.language-python .operator             { color: black;   } /* operators                           */
code.language-python .punctuation          { color: black;   } /* punctuation                         */
code.language-python .string               { color: #00AA00; } /* string (of any type)                */
code.language-python .string-interpolation { color: black;   } /* string-interpolation                */
code.language-python .triple-quoted-string { color: #00AA00; } /* string (of any type)                */

/* Estilo para PHP imitando a Visual Studio Code con tema Dark+ */

code.language-php .function2            { color: #dcdcaa; } /* añadido por mi a prism.js para que se vea como las funciones */

code.language-php .comment              { color: #6a9955; } /* comment                             */
code.language-php .delimiter            { color: #569cd6; } /* fragmento php                       */
code.language-php .function             { color: #dcdcaa; } /* function header def some_name(...): */
code.language-php .keyword              { color: #c586c0; } /* keyword                             */
code.language-php .number               { color: #b5cea8; } /* number                              */
code.language-php .operator             { color: #d4d4d4; } /* operators                           */
code.language-php .punctuation          { color: #d4d4d4; } /* punctuation                         */
code.language-php .variable             { color: #9cdcfe; } /* fragmento php                       */
code.language-php .string               { color: #ce9178; } /* string (of any type)                */
code.language-php .double-quoted-string { color: #ce9178; } /* string (of any type)                */

code.language-php .boolean              { color: white;   } /* boolean                             */
code.language-php .builtin              { color: #dcdcac; } /* built-in functions                  */
code.language-php .class-name           { color: white    } /* class header class SomeName(...):   */
code.language-php .decorator            { color: white;   } /* decorator                           */
code.language-php .string-interpolation { color: white;   } /* string-interpolation                */
code.language-php .triple-quoted-string { color: #ce9178; } /* string (of any type)                */

/* Estilo para HTML en fichero .PHP imitando a Visual Studio Code con tema Dark+ */

pre code.language-php .attr-name      { color: #9cdcfe; }          /* attribute name            */
pre code.language-php .attr-value     { color: #ce9178; }          /* attribute value           */
pre code.language-php .comment        { color: #6a9955; }          /* comment                   */
pre code.language-php .doctype        { color: #569cd6; }          /* doctype                   */
pre code.language-php .punctuation    { color: #808080; }          /* punctuation               */
pre code.language-php .tag            { color: #569cd6; }          /* Tags, attributes, configs */

pre code.language-php .cdata          { }                            /* cdata                     */
pre code.language-php .entity         { }                            /* entity                    */
pre code.language-php .namespace      { }                            /* namespace                 */
pre code.language-php .prolog         { }                            /* prolog                    */

/* Estilo para JSON imitando a Visual Studio Code con tema Light+ */

pre code.language-json .boolean       { color: #0000ff; }          /* valor (booleano)          */
pre code.language-json .comment       { color: #008000; }          /* comentario                */
pre code.language-json .number        { color: #09885a; }          /* valor (número)            */
pre code.language-json .property      { color: #0451a5; }          /* clave                     */
pre code.language-json .punctuation   { color: #000000; }          /* puntuación, llaves, etc   */
pre code.language-json .string        { color: #a31515; }          /* valor (cadena)            */


/* CSS para plugin Line Numbers de Prism */

pre.line-numbers {
  position: relative;
  padding-left: 2.8em;
  counter-reset: linenumber;
}

pre.line-numbers > code {
  position: relative;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: -2px;            /* para ajustar la posición de los números */
  font-size: 100%;
  left: -2.8em;
  width: 2em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: white;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

/* CSS para plugin Command Line de Prism */

.command-line-prompt {
  border-right: 1px solid #999;
  display: block;
  float: left;
  font-size: 100%;
  letter-spacing: -1px;
  margin-right: 1em;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.command-line-prompt > span:before {
  color: white;
  content: ' ';
  display: block;
  padding-right: 0.8em;
}

.command-line-prompt > span[data-user]:before {
  content: "[" attr(data-user) "@" attr(data-host) "] $";
}

.command-line-prompt > span[data-user="root"]:before {
  content: "[" attr(data-user) "@" attr(data-host) "] #";
}

.command-line-prompt > span[data-prompt]:before {
  content: attr(data-prompt);
}

/* CSS para plugin Toolbar (utilizado por plugin Copy to Clipboard)  */

div.code-toolbar {
  position: relative;
}

div.code-toolbar > .toolbar {
  position: absolute;
  top: .3em;
  right: .2em;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

div.code-toolbar:hover > .toolbar {
  opacity: 1;
}

/* Separate line b/c rules are thrown out if selector is invalid.
   IE11 and old Edge versions don't support :focus-within. */
div.code-toolbar:focus-within > .toolbar {
  opacity: 1;
}

div.code-toolbar > .toolbar .toolbar-item {
  display: inline-block;
}

div.code-toolbar > .toolbar a {
  cursor: pointer;
}

div.code-toolbar > .toolbar button {
  background: none;
  border: 0;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
  color: white;
  font-size: 1.2em;
  padding: .2em .5em;
  background: black;
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
  border-radius: .5em;
}

div.code-toolbar > .toolbar a:hover,
div.code-toolbar > .toolbar a:focus,
div.code-toolbar > .toolbar button:hover,
div.code-toolbar > .toolbar button:focus,
div.code-toolbar > .toolbar span:hover,
div.code-toolbar > .toolbar span:focus {
  text-decoration: none;
}
