@charset "utf-8";
@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* CSS ejercicio: Software libre 2          */
/*                                          */
/* 6 de enero de 2017                       */
/*                                          */

body {
  margin: 0;
  background-color: #E0E1EB;
  font-family: sans-serif;
  font-size: 2rem;
  text-align: justify;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: hsl(235, 20%, 25%);
  color: white;
}

main {
  display: block;
  margin: 8rem 10% 0;
}

h1 {
  margin: 0;
  font-size: 4rem;
}

h2 {
  margin: 0;
  background-color: hsl(235, 20%, 25%);
  color: white;
  font-size: 4rem;
  text-align: center;
}

article {
  width: 80%;
  border-radius: 10px;
  margin: 40px 10%;
  padding-bottom: 20px;
  background-color: white;
}

h3 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0;
  padding-left: 20px;
  background-color: hsl(125, 60%, 40%);
  color: white;
  font-size: 3rem;
}

p {
  margin: 20px;
}
