@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS    */
/* Bartolome Sintes Marco                    */
/* https://www.mclibre.org                    */
/*                                           */
/* CSS ejercicio: Don  Quijote Capítulo 1    */
/*                                           */
/* 7 de enero de 2019                        */
/*                                           */

body {
  font-family: sans-serif;
}

h1, h2 {
  text-align: left;
}

p {
  text-align: justify;
  line-height: 150%;
}

footer {
  border-top: black 3px solid;
  color: black;
}

@media screen and (max-width: 479px) {
  body {
    background-color: hsl(0, 50%, 50%);
    color: hsl(65, 100%, 50%);
  }
}

@media screen and (min-width: 480px) and (max-width: 719px) {
  body {
    margin-left: 50px;
    margin-right: 50px;
    background-color: hsl(90, 50%, 50%);
    color: hsl(240, 50%, 30%);
  }
}

@media screen and (min-width: 720px) and (max-width: 1023px) {
  body {
    margin-left: 150px;
    margin-right: 150px;
    background-color: hsl(180, 50%, 50%);
    color: hsl(360, 100%, 20%);
  }
}

@media screen and (min-width: 1024px) {
  body {
    margin-left: 30%;
    margin-right: 30%;
    background-color: hsl(270, 50%, 80%);
    color: hsl(0, 75%, 32%);
  }
}