@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS    */
/* Bartolome Sintes Marco                    */
/* https://www.mclibre.org                   */
/*                                           */
/* CSS ejercicio: Don  Quijote Capítulo 1    */
/*                                           */
/* 3 de octubre de 2022                      */
/*                                           */

body {
  font-family: sans-serif;
}

h1, h2 {
  text-align: left;
}

p {
  text-align: justify;
  line-height: 150%;
}

footer {
  border-top: black 3px solid;
  color: black;
}

@media screen and (max-width: 479px) {
  body {
    background-color: hwb(0 25% 25%);
    color: hwb(65 0% 0%);
  }
}

@media screen and (min-width: 480px) and (max-width: 719px) {
  body {
    margin-left: 50px;
    margin-right: 50px;
    background-color: hwb(90 25% 25%);
    color: hwb(240 15% 55%);
  }
}

@media screen and (min-width: 720px) and (max-width: 1023px) {
  body {
    margin-left: 150px;
    margin-right: 150px;
    background-color: hwb(180 25% 25%);
    color: hwb(360 0% 60%);
  }
}

@media screen and (min-width: 1024px) {
  body {
    margin-left: 30%;
    margin-right: 30%;
    background-color: hwb(270 70% 10%);
    color: hwb(0 10% 45%)
  }
}
