@charset "utf-8";
@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* CSS ejercicio: Deja vu 1                 */
/*                                          */
/* 19 de octubre de 2015                    */
/*                                          */

body {
  margin: 0 0 2em;
  background-color: lightgray;
  font-family: sans-serif;
  text-align: justify;
}

h1 {
  margin: 0;
  padding: 10px;
  background-color: black;
  color: white;
  text-align: right;
}

h2 {
  margin-left: 20%;
  margin-right: 20%;
  border-bottom: white 5px solid;
}

p {
  margin-left: 20%;
  margin-right: 20%;
}

p.fecha {
  border-top: black 3px solid;
  margin-top: 2em;
  padding-top: 2em;
  text-align: center;
}

time {
  padding: 5px;
  background-color: gray;
  color: white;
  font-size: 200%;
  font-weight: bold;
  letter-spacing: 5px;
}

strong {
  font-variant: small-caps;
}

q {
  border-bottom: red 1px dashed;
  font-family: serif;
  font-size: 150%;
}

span.cargo {
  background-color: white;
  color: red;
}

span.lugar {
  color: blue;
}
