@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* https://www.mclibre.org                   */
/*                                          */
/* CSS ejercicio: Currículum Vitae (corto)  */
/*                                          */
/* 17 de octubre de 2017                    */
/*                                          */

body {
    background-color: hsl(200, 15%, 85%);
    font-family: sans-serif;
    text-align: justify;
}

h1 {
    color: #333333;
    font-size: 250%;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    background-color: hsl(200, 15%, 55%);
    color: hsl(200, 15%, 30%);
    font-size: 200%;
    text-decoration: underline;
}

h3 {
    background-color: hsl(200, 15%, 65%);
    color: hsl(200, 15%, 40%);
    font-size: 130%;
    font-style: italic;
}

p {
    background-color: hsl(200, 15%, 75%);
}

em {
    color: hsl(200, 100%, 40%);
    font-style: normal;
    font-weight: bold;
}

strong {
    color: hsl(200, 100%, 30%);
    font-weight: normal;
}

address {
    background-color: white;
    font-weight: bold;
    text-align: right;
}
