@charset "utf-8";
/* HTML/XHTML y CSS
   Bartolome Sintes Marco
   http://www.mclibre.org

   CSS ejemplo: fondos: background-position: center
   27 de noviembre de 2008
*/

html, body {
  background-image: url("cuadricula.png");
  background-position: center center;
  background-repeat: repeat-x;
}

