@charset "utf-8";
@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* CSS ejercicio: Greguerias 1              */
/*                                          */
/* 17 de octubre de 2017                    */
/*                                          */

body {
  background-color: hsl(145, 50%, 35%);
  font-family: sans-serif;
}

h1 {
  font-size: 300%;
  text-transform: capitalize;
}

p {
  font-size: 150%;
}

p.infancia {
  color: white;
  font-family: serif;
  font-style: oblique;
}

p.animales {
  color: hsl(35, 100%, 85%);
  font-family: sans-serif;
}

p.literatura {
  color: hsl(35, 100%, 55%);
  font-family: monospace;
  font-size: 200%;
}

p.numeros {
  color: hsl(345, 80%, 50%);
  font-family: cursive;
}
