@charset "utf-8";
@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* CSS ejercicio: Perros                    */
/*                                          */
/* 4 de noviembre de 2016                   */
/*                                          */

@font-face {
  font-family: "SigmarOne";
  src: url("sigmar-one.woff");
}

body {
  padding: 0 50px;
  background-color:hsl(210, 70%, 95%);
  font-family: sans-serif;
  text-align: justify;
}

h1 {
  margin: 0;
  font-family: "SigmarOne";
  font-size: 3rem;
  text-align: center;
}

h2 {
  margin: 0;
  color:hsl(210, 30%, 60%);
  font-family: "SigmarOne";
  font-size: 3rem;
  text-transform: capitalize;
  text-shadow: 3px 3px black;
}

strong {
  padding: 0 10px;
  background-color: white;
  color: red;
}

i {
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: underline;
}

time {
  color: blue;
}

img {
  border: hsl(210, 30%, 60%) 5px solid;
  padding: 5px;
}

img.izquierda {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

img.derecha {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

p.izquierda {
  float: left;
  width: 33%;
}

p.centrado {
  text-align: center;
}

hr {
  clear: both;
  width: 66%;
  height: 10px;
  border: black 1px solid;
  border-radius: 5px;
  margin: 40px auto%;
  background-color: hsl(210, 30%, 60%);
}

address {
  text-align: right;
  font-style: normal
}
