@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* https://www.mclibre.org                  */
/*                                          */
/* CSS ejercicio: The Jargon file           */
/*                                          */
/* 3 de octubre de 2022                     */
/*                                          */

body {
  margin: 0 20px;
  background-color: hwb(54 50% 0%);
  font-family: sans-serif;
}

h1 {
  margin: 0;
}

main {
  display: block;
  overflow: auto;
  background-color: white;
}

section {
  float: left;
  width: 34rem;
  border:  hwb(43 20% 0%) 5px solid;
  border-top: none;
  margin: 10px;
  background-color: hwb(54 20% 0%);
}

h2 {
  margin: 0;
  background-color: hwb(43 20% 0%);
}

article {
  float: left;
  width: 15rem;
  border: hwb(28 0% 0%) 5px solid;
  border-top: none;
  margin: 10px;
  background-color: hwb(49 20% 0%);
}

h3 {
  margin: 0;
  padding-left: 5px;
  background-color: hwb(28 0% 0%);
  color: white;
  font-size: 1.5rem;
}

p {
  margin: 5px;
}

footer {
  clear: both;
}

footer p {
  margin: 10px 0;
  font-size: 0.75rem;
}
