div {
  border: black 1px solid;
  font-family: monospace;
  font-weight: bold;
  font-size: 150%;
  margin: 0;
  height: 10%;
  position: absolute;
}

div.lrw {
  left: 10%;
  right: 10%;
  width: 50%;
  top: 10%;
}

div.lwr {
  left: 10%;
  width: 50%;
  right: 10%;
  top: 25%;
}

div.rlw {
  right: 10%;
  left: 10%;
  width: 50%;
  top: 40%;
}

div.rwl {
  right: 10%;
  width: 50%;
  left: 10%;
  top: 55%;
}

div.wlr {
  width: 50%;
  left: 10%;
  right: 10%;
  top: 70%;
}

div.wrl {
  width: 50%;
  right: 10%;
  left: 10%;
  top: 85%;
}

