div#cabecera {
  background-color: #EEEEEE;
  height: 5em;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

div#cabecera ul {
  list-style-type: none;
  margin: 0.2em 0;
}

div#cabecera li {
  border: #CCCCCC 2px solid;
  float: left;
  margin-right: 0.6em;
}

div#cabecera a {
  background-color: #AAAAAA;
  color: white;
  padding: 0 0.3em;
  text-decoration: none;
}

div#cabecera a:hover {
  background-color: white;
  color: #AAAAAA;
}

h1 {
  line-height: 5em;
  text-align: center
}

hr {
  margin-bottom: 2em;
}
