@charset "utf-8";
@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* CSS ejercicio: Formas basicas SVG        */
/*                                          */
/* 4 de noviembre de 2015                   */
/*                                          */

body {
  background-color: MediumTurquoise;
  font-family: sans-serif;
}


iframe {
  width: 100%;
}
