@charset "utf-8";
@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS       */
/* Bartolome Sintes Marco                       */
/* http://www.mclibre.org                       */
/*                                              */
/* CSS ejercicio: Citas de Virgilio (Web Fonts) */
/*                                              */
/* 10 de noviembre de 2015                      */
/*                                              */

/*--fuentes-web--*/
@font-face {
  font-family: "Ribeye Marrow";
  src: url("ribeye-marrow.woff")
}

@font-face {
  font-family: "Just Another Hand";
  src: url("just-another-hand.woff")
}

@font-face {
  font-family: "Lobster";
  src: url("lobster.woff")
}
/*--/fuentes-web--*/
body {
  /*--colores--*/background-color: #CAA842;/*--/colores--*/
}

h1 {
  /*--fuentes-web--*/font-family: 'Ribeye Marrow', cursive;/*--/fuentes-web--*/
  /*--fuente--*/font-size: 300%;/*--/fuente--*/
  /*--texto--*/letter-spacing: 0.5em;/*--/texto--*/
  /*--texto--*/text-align: center;/*--/texto--*/
  /*--texto--*/text-transform: uppercase;/*--/texto--*/
}

p.intro {
  /*--margenes--*/margin-left: 30%;/*--/margenes--*/
  /*--margenes--*/margin-right: 30%;/*--/margenes--*/
  /*--fuente--*/font-family: sans-serif;/*--/fuente--*/
  /*--texto--*/line-height: 200%;/*--/texto--*/
  /*--texto--*/text-align: justify;/*--/texto--*/
}

p.latin {
  /*--margenes--*/margin: 0;/*--/margenes--*/
  /*--fuentes-web--*/font-family: "Lobster", sans-serif;/*--/fuentes-web--*/
  /*--fuente--*/font-size: 250%;/*--/fuente--*/
}

p.espanol {
  /*--margenes--*/margin: 0 0 1em;/*--/margenes--*/
  /*--colores--*/color: white;/*--/colores--*/
  /*--fuentes-web--*/font-family: "Just Another Hand", sans-serif;/*--/fuentes-web--*/
  /*--fuente--*/font-size: 350%;/*--/fuente--*/
  /*--texto--*/letter-spacing: 1px;/*--/texto--*/
  /*--texto--*/text-align: right;/*--/texto--*/
}

cite {
  /*--texto--*/text-decoration: underline;/*--/texto--*/
}
