@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS    */
/* Bartolome Sintes Marco                    */
/* https://www.mclibre.org                   */
/*                                           */
/* CSS ejercicio: Efemerides 14 de diciembre */
/*                                           */
/* 3 de octubre de 2022                      */
/*                                           */

@media screen and (max-width: 1023px){
  body {
    margin: 0 10px;
    font-size: 120%;
  }

  section {
    margin: 10px;
  }

  article {
    margin: 20px 10px;
  }
}

@media screen and (min-width: 1024px){
  body {
    margin: 0 20%;
    font-size: 200%;
  }

  section {
    overflow: auto;
    margin: 10px 10px 20px;
  }

  article {
    float: left;
    width: 40%;
    margin: 10px 4%;
  }
}

body {
  background-color: hwb(54 50% 0%);
  font-family: sans-serif;
}

h1 {
  margin: 0;
}

main {
  display: block;
  padding: 10px;
  background-color: white;
}

section {
  border:  hwb(43 20% 0%) 5px solid;
  border-top: none;
  background-color: hwb(54 20% 0%);
}

h2 {
  margin: 0;
  background-color: hwb(43 20% 0%);
}

article {
  border: hwb(28 0% 0%) 5px solid;
  border-top: none;
  background-color: hwb(49 20% 0%);
}

h3 {
  margin: 0;
  padding-left: 5px;
  background-color: hwb(28 0% 0%);
  color: white;
}

p {
  margin: 5px;
}

footer p {
  margin: 10px 0;
  font-size: 0.75rem;
}
