@charset "utf-8";
@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* CSS ejercicio: Florencia                 */
/*                                          */
/* 4 de noviembre de 2016                   */
/*                                          */

body {
  background-color: hsl(67, 10%, 75%);
  font-family: sans-serif;
  font-size: 1.5rem;
  text-align: justify;
}

h1 {
  color: hsl(240, 65%, 25%);
  font-weight: 900;
  letter-spacing: 50px;
  text-align: right;
  text-transform: uppercase;
}

h2 {
  clear: both;
  background-color: hsl(68, 30%, 30%);
  color: white;
}

p.centrado {
  text-align: center;
}

img.izq {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

img.der {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

strong {
  font-style: oblique;
}

address {
  clear: both;
  font-size: 80%;
}
