@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* https://www.mclibre.org                  */
/*                                          */
/* CSS ejercicio: Florencia                 */
/*                                          */
/* 1 de octubre de 2022                     */
/*                                          */

body {
  background-color: hwb(67 70% 20%);
  font-family: sans-serif;
  font-size: 1.5rem;
  text-align: justify;
}

h1 {
  color: hwb(240 10% 60%);
  font-weight: 900;
  letter-spacing: 50px;
  text-align: right;
  text-transform: uppercase;
}

h2 {
  clear: both;
  background-color: hwb(68 20% 60%);
  color: white;
}

p.centrado {
  text-align: center;
}

img.izq {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

img.der {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

strong {
  font-style: oblique;
}

address {
  clear: both;
  font-size: 80%;
}
